
div:hover{

  border-radius: 20px;
  border:4px solid rgb(255, 187, 0)
}
#coloron:hover{
  color: white;
  background-color:red;
  
  text-align: center;
  
}
#colortwo:hover{
  color: white;
  background-color: green;
  
  text-align: center;
}
#colortreew:hover{
  color: white;
background-color: blue;

text-align: center;
}
#colorfor:hover{
  color: white;
background-color: rgb(238, 0, 167);

text-align: center;
}

#colorfavi:hover{
  color: white;
background-color: rgba(238, 0, 167, 0.493);

text-align: center;
}
h3{
font-style: italic;
}
